body {
  margin: 0;
  padding: 0;
  font-family: 'IRANYekanWeb';
  font-weight: normal;
}
@font-face {
  font-family: 'IRANYekanWeb';
  src: url('./fonts/iranyekanwebregular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'IRANYekanWeb';
  src: url('./fonts/iranyekanweblight.ttf') format('truetype');
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: 'IRANYekanWeb';
  src: url('./fonts/iranyekanwebbold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}